*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* CODE FOR HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* border-bottom: 1.5px solid #ccc; */
}
div.logo {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    /* vertical-align: bottom; */
}
div.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLink {
    display: flex;
    gap: 8px;
}
header h2 {
    display: inline-block;
    font-size: 2rem;
    line-height: 1.9rem;
    font-family: 'Lilita One', cursive;
    text-shadow: 1px 1px 1px rgb(241, 158, 32), -1px -1px 1px rgb(241, 158, 32);
    font-weight: 400;
}
header div.logo i {
    font-size: 2rem;
    color: rgb(241, 158, 32);
}
a{
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 15px;
}
a > i {
    font-size: 2rem;
}
div.link a:hover  {
    color: rgb(0, 0, 0);
    font-weight: 400;
}
a.active  {
    color: rgb(0, 0, 0);
    font-weight: 600;
}
div.profiler {
    display: flex;
}
div.profiler > div {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 5px;
    text-align: center;
}
div.profiler > div:nth-child(1) {
    padding: 0.5rem 0.5rem;
}
div.profiler div.notificationBtn div {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 100;
    font-size: 2rem;
    margin: 0.5rem 0.5rem;
}
div.notificationBtn i {
    font-size: 1.5rem;
}
div.profilePic {
    background-image: url('../profilePic/profile1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* THE SCROLLBAR */
/* width */
::-webkit-scrollbar {
width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
background: #fefefe;
box-shadow: inset 0 0 5px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 444444px;
border: 4px solid rgba(0, 0, 0, 0);
background-clip: padding-box;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
background: #555; 
} */