/* MAIN UI FOR THE BODY */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}
main {
    flex: 1;
}
div.sideLink {
    display: none;
}
div.side {
    display: flex;
    flex-direction: column;
    height: 100%;
}
div.side > div.close {
    display: none;
}
input[type= search] {
    width: 100%;
    height: 5.4rem;
    font-size: 1.4rem;
    padding: 2rem 1rem 2rem 4.2rem;
    background-image: url(../image/searchIcon.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 18px 18px;
    border: none;
    outline: 1px solid #eee;
}
input[type= search]::placeholder {
    color: #ccc;
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 0.5px;
}
div.button button {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.75rem;
    text-align: center;
    height: 5rem;
}
div.button button span {
    font-size: 1.3rem;
    font-weight: 500;
}
div.projectDisplay {
    height: 260px;
    border-bottom: 0.25px solid #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
div.projectMeeting {
    flex: 1;
    display: flex;
    flex-direction: column;
}

div.projectMeeting div.title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
}
div.title h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
}
div.title h6 {
    font-size: 1.3rem;
    color: #aaa;
    font-weight: 300;
    padding: 5px 0 0 0;
}
div.title h6:hover {
    color: #000;
    font-weight: 400;
    font-size: 1.32rem;
}
div.title h6 i {
    color: rgb(43, 106, 241);
}
div.title h6 i:hover {
    font-weight: 600;
    font-size: 1.4rem;
}
div.meetingTile {
    flex: 1;
    border-bottom: 0.25px solid #eee;
    border-top: 0.25px solid #eee;
    background-color: #f7f7f7;
    overflow-y: auto;
}
@media (min-width: 500px) and (max-width: 700px) {
    div.panel {
        width: 33.33% !important;
    }
    .iconDiv {
        width: 8% !important;
        font-size: 1.7rem !important;
    }
    .nameDateDiv {
        width: 75% !important;
    }
    .fileSizeDiv {
        width: 9% !important;
    }
    .downloadBtn, .deleteFileBtn {
        width:8% !important;
        font-size: 1.7rem !important;
    }
}
@media (min-width: 701px) and (max-width: 990px) {
    div.panel {
        width: 25% !important;
    }
    .iconDiv {
        width: 5% !important;
        font-size: 1.8rem !important;
    }
    .nameDateDiv {
        width: 81% !important;
    }
    .fileSizeDiv {
        width: 9% !important;
        font-size: 1.2rem !important;
    }
    .downloadBtn, .deleteFileBtn {
        width: 5% !important;
        font-size: 1.2rem !important;
    }
}
@media (max-width: 991px) {
    div.link {
        display: none;
    }
    main {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        min-height: calc(100vh - 61px);
    }
    div.aside {
        display: flex;
        flex-direction: row;
        position: absolute;
        min-width: 40px;
        z-index: 300;
        height: calc(100vh - 60px);
        /* background-color: rgba(0, 0, 0, 0.5); */
        transition: width 2s;
    }
    div.sideLink {
        display: flex;
        flex-direction: column;
        width: 45px;
        padding: 0 0 0 2px;
        background-color: #fff;
        z-index: 999;
        border-right: 1px solid #eee;
    }
    div.sideLink a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        text-align: center;
        margin: 0;
    }
    div.sideLink a.active {
        border: 1px solid #eee;
        border-right: none;
        border-radius: 7px 0 0 7px;
        width: 44px;
        background-color: #fff;
        z-index: 1999;
        position: relative;
    }
    div.sideLink a:not(a:first-child).active::before {
        content: '';
        width: 7px;
        height: 7px;
        background-color: #fff;
        position: absolute;
        top: -8px;
        right: 1px;
        border-bottom-right-radius: 7px;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        box-shadow: 2px 2px 0 2px #fff;
    }
    div.sideLink a.active::after {
        content: '';
        width: 7px;
        height: 7px;
        background-color: #fff;
        position: absolute;
        bottom: -8px;
        right: 1px;
        border-top-right-radius: 7px;
        border-top: 1px solid #eee;
        border-right: 1px solid #eee;
        box-shadow: 2px -2px 0 0.5px #fff;
    }
    div.side {
        width: 0;
        position: relative;
        left: -250px;
        top: 0;
        transition: left 0.5s linear, width 0.5s linear;
        background-color: #fff;
        z-index: 301;
    }
    div.side > div.close{
        display: none;
        position: absolute;
        right: -3.1rem;
        top: 10px;
        border: 1px dashed black;
        width: 2.5rem;
        aspect-ratio: 1/1;
        text-align: center;
        transition: display 0.05s linear 5s;
        z-index: 302;
    }
    div.side > div.close i {
        font-size: 2rem;
        text-align: center;
    }
    div.container {
        position: relative;
        width: calc(100% - 45px);
        left: 45px;
        padding: 0 20px 10px;
    }
    div.file {
        display: none;
    }

    div.addProjectBox, div.editProjectBox, div.addTaskBox, div.deleteDialogueBox{ 
        width: 85%; 
    }
    /* THE STYLE FOR THE CREATE NEW TASK BUTTON IN THE MAINUI FOR MOBILE VIEW */
    div.headDiv + button {
        font-size: 1rem;
        font-weight: 400;
    }
}

@media (min-width: 992px) {
    main {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }
    div.aside {
        width: 280px;
        border-right: 0.25px solid #eee;
        height: calc(100vh - 60px);
    }
    div.container {
        width: calc(100vw - 550px);
        border-right: 0.25px solid #eee;
        padding: 0 20px 10px;
        height: calc(100vh - 60px);
    }
    div.file {
        width: 270px;
        /* border: 0.25px solid #eee; */
    }
}

/* Styling the addProjectMenu Box */
div.addProjectMenu, div.editProjectMenu, div.addTaskMenu, div.deleteDialogueMenu  {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9999;
    transition: display 0.7s linear, opacity 0.7s linear;
}
div.addProjectBox, div.editProjectBox, div.addTaskBox, div.deleteDialogueBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-height: 70%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #aaa;
}
div.deleteDialogueMenu {
    z-index: 99999;
}
div.deleteDialogueBox {
    min-height: 30%;
}
div.addProjectBox div.closeProject, div.editProjectBox div.closeEditProject, div.addTaskBox div.closeTaskMenu, div.closeDialogueMenu {
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
}
div.closeProject i, div.closeEditProject i, div.closeTaskMenu i, div.closeDialogueMenu i {
    font-size: 3rem;
    color: rgb(241, 158, 32);
}

.deleteQuestion span {
    color: rgb(241, 158, 32);
}

.deleteQuestion ~ button {
    margin: 20px 10px 0 0;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.75rem 0.5rem;
    font-weight: 500;
    border: none;
}
button.del_yes {
    background-color: rgb(255, 0, 0);
}
button.del_no {
    background-color: rgb(3, 85, 3);
}
button.deleteProject {
    padding: 0.75rem 0.75rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    background-color: rgb(241, 158, 32);
} 
div.addProjectBox h1, div.editProjectBox h1, div.addTaskBox h1{
    font-size: 3rem;
    margin: 0 0 10px 0;
}
div.editProjectBox h1 + p {
    margin: 0 0 10px 0;
    font-size: 1.4rem;
}
div.addProjectBox form, form.editForm {
    width: 100%;
}
form label, p.projectType{
    font-size: 1.5rem;
    font-weight: 500;
}
form input, select {
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #aaa;
    padding: 7.5px 10px;
}
input[type= text], input[type= date], select {
    margin: 0 0 20px 0;
}
form button {
    width: 100%;
    margin: 20px 0;
    padding: 0.85rem 0;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px 5px;
}
input[type=checkbox] + label {
    vertical-align: super;
    font-weight: 400;
    font-size: 1.4rem;
}
form input[type= checkbox] {
    accent-color: rgb(241, 158, 32);
    color: white;
    width: 18px;
    height: 18px;
}

/* //ADDING STYLES FOR EACH OF THE PROJECT PANEL */
div.panel { 
    width: 50%;
    height: 130px;
    position: relative;
    border: 0.25px solid #f7f7f7;
}
div.projectBox {
    display: flex;
    flex-direction: column;
    width: calc(100% - 3rem);
    height: calc(130px - 3rem);
    margin-left: 2rem;
    margin-right: 1rem;
}
div.panel div.imageHolder {
    display: flex;
    flex-wrap: nowrap;
    margin: 25px 0 8px;
}
div.panel div.mainFrame {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
div.panel h2 {
    font-size: 1.3rem;
    font-weight: 500;
}
div.panel img[src] {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
div.panel button {
    width: 100%;
    height: 3rem;
    background-color: rgba(153, 223, 248, 0.3);
    color: rgb(43, 106, 241);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.85rem 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: none;
}

/* //ADDING THE STYLES FOR THE MAINUI */
div.headingMain {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 25;
    padding-top: 20px;
}
div.headDiv {
    width: 70%;
}
div.deadlineHolder {
    color: #888;
    font-size: 1.2rem;
}
div.headDiv + button {
    width: 30%;
    height: 35px;
    background-color: rgb(43, 106, 241);
    border: none;
    color: #fff;
}
div.container {
    overflow: auto;
}
div.container h1 {
    font-size: 2.7rem;
    line-height: 2.7rem;
    font-weight: 600;
    display: inline-block;
    padding: 0 5px 5px 0;
}
p.editPencil {
    display: inline-block;
}
p.editPencil img {
    width: 15px;
    height: 15px;
}

/* STYLING THE PANEL SECTION OF EACH TASKS (THE TASK SECTION OF THE MIDDLE SECTION(U.I)  )*/
label.label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}
.tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}
ul {
    list-style-type: none;
}
div.dayBody {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
ul li > div:first-child {
    display: flex;
    align-items: center;

}
div.dayBody > ul > li {
    margin: 10px 0;
}
ul li div:first-child h3 {
    /* vertical-align: text-bottom; */
    font-size: 1.25rem;
    font-weight: 450;
    /* margin-top: 4px; */
    width: 18%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul li div:first-child p {
    color: #aaa;
    font-size: 1.2rem;
    font-weight: 300;
    /* margin-top: 4px; */
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;
}
ul li > div:nth-child(2) {
    width: 100%;
    background-color: #f1f1f1;
}
.profileShowBtnElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: calc(32% - 35px);
    height: 30px;
}
.profileEle {
    width: calc(100% - 1.5rem);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;

}
.assigneeProfilePic {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 1.5px solid #fff;
    position: absolute;
    top: 50%;
}
.showMoreIcon {
    font-size: 1.5rem;
    transition: transform 0.25s linear;
}
div.bodyMain {
    overflow: auto;
    /* width: calc(inherit - 40px); */
}
.dayBody h2 {
    font-weight: 550;
}
.taskDescripDiv {
    display: flex;
    align-items: flex-start;
    gap: 0 20px;
    margin: 10px 0 0;
}
.disabledTaskDescrip {
    resize: none;
    width: 70%;
    background-color: #fff;
    font-size: 1.3rem;
    border: none;
}
.enableTaskDescrip {
    resize: none;
    width: 70%;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 1.3rem;
    padding: 8px 5px;
}
.editDescriptionBtn {
    padding: 3px 5px;
    font-size: 1.2rem;
}

/* The extendDeadline  button functionality styling */
.deadlineDiv {
    width: 120px;
    position: relative;
    margin: 10px 0 10px;
}
.extendDeadlineBtn {
    width: inherit;
    border: 1px solid #000;
    padding: 4px 6px;
}
.deadlineInput {
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.deadlineInput::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
/* The addAssignee functionality styling */
.addAssigneeBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: flex-start;
    gap: 0 20px;
    flex-wrap: wrap;
}
.addRemoveBox {
    width: 70%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}
.inputAssigneeLabel {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}
.addAssigneeBox > button {
    width: 40px;
    padding: 2px 5px;
}
.inputAssignee, .assigneeSuggestion {
    width: 100%;
    padding: 5px 10px;
}
.inputAssignee {
    height: 23px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #aaa;
    font-size: 1.3rem;
    line-height: 1.3rem;
    z-index: 9;
}
.assigneeSuggestion{
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    padding-top: 30px;
    z-index: 6;
    width: inherit;
    font-size: 1.2rem;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list i {
    color: #000;
    font-size: 1.6rem;
}
.errorSuggestionBox {
    display: none;
    background-color: rgba(243, 117, 117, 0.4);
    border-left: 4px solid rgb(230, 0, 0);
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1.1rem;
}
/* The Assignee List */
.listOfAssignee {
    margin: 10px 0 0;
}
.listOfAssignee h4 {
    font-size: 1.2rem;
    font-weight: 500;
}
.listOfAssignee li {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 10px;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    padding: 3px 0;
}
.listOfAssignee li:last-child {
    border-bottom: 1px solid #fff;
}
.removeAssigneeBtn {
    padding: 2px 5px;
}
/* The styling for the attachFile functonality */
.attachFileDiv {
    display: none;
    margin: 15px 0 15px 10px;
}
.attachFileHouse {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.3rem;
}
.attachFileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #aaa;
    font-size: 1.5rem;
}
.attachFileBtn:hover {
    background-color: #dfdfdf;
}
.submittedDoc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    width: 100%;
    padding: 10px;
}
.iconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #dfdfdf;
    font-size: 1.9rem;
}
.nameDateDiv {
    display: flex;
    flex-direction: column;
    width: 65%;

}
.namePlaceholder {
    font-size: 1.05rem;
    font-weight: 600;
}
.dateTimePlaceholder {
    font-size: 0.9rem;
    color: rgba(0 ,0 ,0 ,0.4);
}
.dateTimePlaceholder i {
    font-size: 0.6rem;
    /* font-weight: 300; */
}
.fileSizeDiv {
    width: 15%;
    font-size: 0.9rem;
}
.deleteFileBtn {  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.downloadBtn, .deleteFileBtn {
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #dfdfdf;
}
.downloadProgressBar{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.downloadElement, .cancelElement  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 3px 3px 3px 3px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0;
    color: rgba(0 ,0 ,0 ,0.7);
}
/* The deleteTaskButton styling */
.deleteTaskButton {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Styling the ATTACHED FILE section */
div.file {
    height: calc(100vh - 60px);
    /* padding: 0 20px 20px; */
    overflow: auto;
    position: relative;
}
div.fileHeader {
    position: sticky;
    top: 0;
    padding: 20px 20px 0;
    background-color: #fff;
    width: 100%;
}
div.file div.title h2 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-transform: uppercase;
}
div.file div.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 10px;
}
div.file div.title > div.fileView {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
div.file  div.title > div.fileView > span {
    width: 22px;
    height: 22px;
    font-size: 1.5rem;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.super {
    background-color: rgb(43, 106, 241);
}
.color {
    color: #fff;
    --ionicon-stroke-width: 48px;
}
div.file div.fileSearch{
    width: 100%;
    height: 50px;
}
div.file div.fileSearch input {
    height: 3.2rem;
    padding: 0.4rem 0 0.4rem 2.6rem;
    font-size: 1.45rem;
    font-weight: 400;
    letter-spacing: 0.7px;
    background-position: 10px center;
    background-size: 16px 16px;
    border-radius: 3px;
}
div.tag {
    padding: 1rem 0 0;
    border-bottom: 1px solid #eee;
}
div.fileList {
    width: 100%;
    height: 1500px;
    background-color: pink;
    padding: 20px;
}
div.fileSmokeScreen {
    background-color: #fff;
}